.btn {
  background-color: $mainBlue;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  margin-top: 1rem;
  padding: 1rem;
  text-decoration: none;

  &--orange {
    background-color: $mainOrange;
  }
}
