.btn {
  background-color: $orangeRed;
  border-radius: .5rem;
  box-shadow: 2px 2px 0 #666;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  margin-top: 1rem;
  padding: 1rem;
  text-decoration: none;

  &--orange {
    background-color: $mainOrange;
  }
}
