.row {
  /*background-color: grey;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__box {
    background-color: grey;
    height: 5rem;
    width: 15rem;
  }

  &__box:last-child {
    border-right: none;
  }
}
