.large-hero {
  position: relative;
}

.large-hero__image {
  background-image: url('../../assets/images/restaurant-diners_640.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 60vh;
}

.large-hero__text-content {
  background-color: rgba(47, 85, 114, 0.5);
  color: #fff;
  position: absolute;
  padding: 1rem;
  text-align: center;
  top: 50%;
  transform: translateY();
  width: 100%;
}
