.large-hero {
  /*position: relative;*/
  background-image:url(../../assets/images/restaurant-diners_640w-251h.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 40vh;
  max-height: 60vh;
  width: 100%

  @mixin atSmall {
    background-image: url(../../assets/images/restaurant-diners_1280w-501h.jpg);
  }

  @mixin atMedium {
    background-image: url(../../assets/images/restaurant-diners_2400w-940h.jpg);
  }
}
