.special-text {
  display: inline-block;
  font-family:  'Great Vibes', serif;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: .2rem;
}

.blurb {
  font-size: 1.875rem;
  font-weight: 100;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}
